snippet /// "divider"
// ============================================================================
// $1
endsnippet

snippet rt "render template"
if err := ${1:tpl}.ExecuteTemplate(${2:w}, ${3:name}, ${3:data}); err != nil {
	http.Error($2, err.Error(), http.StatusInternalServerError)
	return
}
endsnippet

snippet handler "http handler"
func $1(w http.ResponseWriter, r *http.Request) {
	$2
}
endsnippet

# vim:ft=snippets:
