snippet --- "Divider"
-------------------------------------------------------------------------------
-- $1

endsnippet

snippet fn "Function"
${1:name} :: ${2:signature}
$1 = ${3:...body}
endsnippet

snippet ts "Type signature"
${1:name} :: ${2:signature}
endsnippet
